{% extends 'index.html' %}
{% load static %}
{% block content %}
    <!-- page content start -->
    <div class="login">
      <form class="login-form shadow border">
        <p class="login-form-title">Change Password</p>
        <div class="login-input">
          <input type="text" placeholder="Enter OTP" />
          <span> </span>
        </div>
        <div class="login-input">
          <input type="password" placeholder="Enter password" />
        </div>
        <div class="login-input">
          <input type="password" placeholder="Enter confirm password" />
        </div>
        <button type="submit" class="login-submit">Change password</button>
      </form>
    </div>

    <!-- page content end -->
{% endblock %}