{% extends 'index.html' %}
{% load static %}
{% block content %}
    <!-- page content start -->
    <div class="login">
      <form class="login-form shadow border" method="POST" action="{% url 'reset_password' %}">
        {% csrf_token %}
        <p class="login-form-title">Change Password</p>
        <div class="login-input">
          <input type="text" placeholder="Enter OTP" name="otp"/>
          <span> </span>
        </div>
        <div class="login-input">
          <input type="password" placeholder="Enter password" name="password"/>
        </div>
        <div class="login-input">
          <input type="password" placeholder="Enter confirm password" name="confirm_password"/>
        </div>
        <div>
          {% if message_for_password_critearea %}
          <p>{{message_for_password_critearea}}</p>
          {% endif %}
          {% if message_for_password_length %}
          <p>{{message_for_password_length}}</p>
          {% endif %}
          {% if message_for_password_not_same %}
          <p>{{message_for_password_not_same}}</p>
          {% endif %}
          {% if wrong_otp %}
          <p>{{wrong_otp}}</p>
          {% endif %}
        </div>
        <button type="submit" class="login-submit">Change password</button>
      </form>
    </div>

    <!-- page content end -->
{% endblock %}